Repository GreenBlitz/GBScouting, pull requests merged in 2025-03, with the labels that each got.

#47 Scouter Stats
  application/src/App.tsx
  application/src/strategy/ScouterStats.tsx
  application/src/strategy/charts/BarChart.tsx
  application/src/utils/Color.ts
  application/src/utils/Fetches.ts
Labels: Frontend, Improvement

#66 Leaderboard --> core
  application/src/App.tsx
  application/src/backend/matches.ts
  application/src/components/Leaderboard.tsx
  application/src/utils/Fetches.ts
Labels: New Feature, Frontend, Backend

#74 Use BeeAScout Data
  .gitignore
  application/package.json
  application/src/TeamData.ts
  application/src/backend/matches.ts
  application/src/backend/server.ts
  application/src/backend/sheets.ts
  application/tsconfig.json
Labels: New Feature, Backend, Improvement

#73 better notes
  application/src/strategy/NoteTab.tsx
  application/src/utils/Fetches.ts
Labels: Frontend, Improvement

#85 Better server
  application/src/backend/matches.ts
  application/src/strategy/ability-tab/AbilityTab.tsx
  application/src/strategy/charts/TableChart.tsx
  application/src/strategy/general-tab/GeneralTab.tsx
  application/src/strategy/team-tab/TeamTab.tsx
  application/src/strategy/team-tab/sections/StrategyTeleoperated.tsx
  application/src/utils/Fetches.ts
  application/src/utils/FolderStorage.ts
Labels: Frontend, Backend, Improvement
